/*******************************************************************************************************
   Nom du fichier : style.css
   Auteur : Trackozor
   Date de création : 07/09/2024
   Description : Feuille de style principale pour le projet booki, site hébergements
   Version : 1.0
   -----------------------------------------------------------------------
   Informations supplémentaires :
   - Compatible avec les navigateurs : Chrome, Firefox, Safari, Edge
   - Design responsive : Oui
   - Conformité W3C : Oui
*********************************************************************************************************/
/****** General ***********/

/* Application globale de la police 'Raleway' à tous les éléments */
* {
    font-family: 'Raleway', sans-serif; /* Définit la police Raleway pour tout le document */
}

/* Déclaration de variables CSS globales pour les couleurs */
:root {
    --main-color: #0065fc; /* Couleur principale utilisée pour les éléments importants (ex: texte, bordures) */
    --main-bg-color: #f2f2f2; /* Couleur de fond globale pour les sections */
    --filter-bg-color: #deebff; /* Couleur de fond spécifique pour les filtres */
    --font-wight: 700;
}

/* Style des icônes Font Awesome */
.fa-solid {
    color: var(
        --main-color
    ); /* Applique la couleur principale aux icônes Font Awesome */
}

/* Centrage horizontal du contenu dans la page entière */
body {
    display: flex; /* Utilise Flexbox pour aligner les éléments */
    justify-content: center; /* Centre horizontalement le contenu */
    align-items: center;
    max-width: 1440px;
    min-width:15rem;
    box-sizing: border-box;
    font-size: 1.6vw;
}

/* Conteneur principal qui limite la largeur et gère le padding */
.main-container {
    /* Le conteneur occupe toute la largeur de la fenêtre */
    max-width: 90vw; /* Il est limité à 90% de la largeur de la fenêtre */
    padding: 0 3vw; /* Ajoute un espace de chaque côté en fonction de la largeur de la fenêtre */
}

/* Liens : suppression de la décoration par défaut */
a {
    color: inherit; /* Hérite de la couleur du parent */
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
}

/* Style des titres de section */
.section-title {
    margin: 0; /* Supprime les marges par défaut */
    font-size: 1.6vw; /* Taille du texte, équivaut à environ 22px */
}

/* Style général des cartes sur le site */
.card {
    background-color: white; /* Fond blanc pour les cartes */
    border-radius: 1rem; /* Coins arrondis */
    padding: 0.3125rem; /* Espace intérieur de la carte */
    filter: drop-shadow(
        0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.1)
    ); /* Ajoute une ombre légère sous la carte */
}
.card2 {
    background-color: white; /* Fond blanc pour les cartes */
    border-radius: 1rem; /* Coins arrondis */
    filter: drop-shadow(
        0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.1)
    ); /* Ajoute une ombre légère sous la carte */
}
.card2 img {
    height: 25dvw;
    width: 20dvw;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    object-fit: cover;
    overflow: hidden;
}

/* Assure que les images des cartes conservent leurs proportions et remplissent bien l'espace */
.card img {
    object-fit: cover; /* L'image remplit son conteneur sans être déformée */
}

/* Style des titres des cartes */
.card-title {
    font-size: 1.2vw; /* Taille des titres des cartes */
    margin-top: 0;
    margin-bottom: 0;
}
.card-txt {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1dvw;
}
.card-rating {
    font-size: 1vw;
}
/* Style renforcé pour affichage en gras*/
.bold {
    font-weight: 700; /* Met le texte en gras */
}


/* Style pour les listes */
li {
    padding:0.5vw;/* Espace entre chaque élément de liste */
    list-style-type: none; /* Supprime les puces par défaut */

}

/* Style pour les étoiles inactives dans les évaluations */
.neutral-star {
    color: var(
        --main-bg-color
    ); /* Les étoiles neutres prennent la couleur du fond pour indiquer qu'elles ne sont pas sélectionnées */
}
.num {
    font-family: 'Open Sans', sans-serif;

}

/*********************************************************************************************************/
/*---------------------------------- Header -------------------------------------------------------------*/
/*********************************************************************************************************/

/* Style du conteneur principal de l'en-tête */
.header {
    height: 4vw; /* Hauteur de 10% de la hauteur visible de la fenêtre */
    display: flex; /* Utilise Flexbox pour aligner les éléments de l'en-tête */
    align-items: center; /* Centre verticalement les éléments */
    gap: 20vw;
    margin: 0;
    justify-content: space-between;
    
    
}

/* Style du logo */
.logo img {
    height: 3vw; /* Définit la hauteur du logo */

}

/* Style pour le menu de navigation dans l'en-tête */
.nav {
    display: flex; /* Utilise Flexbox pour aligner les éléments du menu */
    gap: 3vw; /* Crée un espace de 30% entre les éléments */
    padding: 0;
    align-items: center;

}
.nav-element {
    padding-top:1.4vw

}

/* Style des éléments du menu lors du survol */
.nav-element:hover {
    color: var(--main-color); /* Change la couleur de texte au survol */
    border-top: 0.204rem solid var(--main-color); /* Ajoute une bordure supérieure colorée */



}

/********************************************************************************************************/
/*--------------------------------Recherche-------------------------------------------------------------*/
/*********************************************************************************************************/
.research {
    padding:2vw 0;
}
.research-txt p{
    margin-top:0;
    
} 
.local {
    display: flex;
    height: 3vw;
    width: 4vw;
    border-radius: 0.8rem 0 0 0.8rem;
    background-color: var(--main-bg-color);
    align-items: center;
}
.local i {
    display: flex;
    padding: 0 1vw;
    align-items: center;
    font-size: 1.3vw;
}
/* Style pour la barre de recherche */
.Search-bar {
    width: 25vw;
    height: 3vw;
    display: flex;
    align-items: center;
}
.search-button {
    background-color: var(--main-color);
    font-weight: 700;
    color: #fff;
    border-top-right-radius: 0.8vw; /* Bord arrondi */
    border-bottom-right-radius: 0.8vw;
    border: none;
    height: 3vw;
    display: flex;
    align-items: center;
    padding:1vw ;
}
.search-input {
    display: flex;
    width: 15vw;
    height: 3vw;
    border: none;
    text-align: center;
    padding-top:0.8vw;
}
.search-input::placeholder {
    color: #000;
    font-weight: 900;
    display: flex;
    font-size: 1.2vw;
    border:none;
    height: 3vw;
    


}
/**********************************************************************************************************/
/*-------------------------------Filtres------------------------------------------------------------------*/
/*********************************************************************************************************/

/* Conteneur pour les filtres, utilisant Flexbox */
.filter {
    display: flex; /* Flexbox pour aligner les éléments */
    gap: 1vw; /* Espace de 2rem entre les éléments */
    align-items: center; /* Centre verticalement les éléments */
    height: 2vw;
    margin-bottom: 1.5vw;
    font-size: 1vw;
}

/* Conteneur d'informations avec Flexbox */
.info {
    display: flex; /* Flexbox pour aligner les informations */
    align-items: center;
    font-size: 1vw;
}

.fa-layers {
    display: inline-flex;
    align-items: center;
    font-size: 1vw; /* Ajuste la taille de l'icône */
    margin-right: 1vw; /* Espace entre l'icône et le texte*/
    justify-content: center;
}

/* Style pour le cercle */
.icon-circle {
    position: absolute;
    color: white; /* Couleur du cercle */
    border: 0.2rem solid var(--main-bg-color);
    border-radius: 50%;
    font-size: 1.6vw;
}

/* Style pour le "i" */
.icon-info {
    color: var(--main-color); /* Couleur du "i" */
    font-size: 1vw; /* Taille du "i", plus petit que le cercle */
    z-index: 1;
    position: relative;
}

/********** Bouton de filtre ********************/

/* Style pour les boutons de filtre */
.filter-button {
    display: flex; /* Flexbox pour aligner le contenu du bouton */
    height: 3vw; /* Hauteur du bouton */
    border-radius: 1.5625rem; /* Bord arrondi */
    align-items: center; /* Centre verticalement le contenu */
    background-color: #fff; /* Fond blanc */ /* Espace entre les éléments du bouton */
    border: 0.125rem solid #d9d9d9; /* Bordure grise claire */
    padding: 1vw 1vw; /* Espacement intérieur du bouton */
    font-size: 1.2vw;
    text-align: center;
    gap: 0.8vw;
}
/* Affichage par défaut : texte visible, icône masquée */
.search-icon {
    display: none; /* L'icône est masquée par défaut */
}

.search-text {
    display: inline; /* Le texte est visible par défaut */
}

/***** Changement de couleur du bouton au survol ***********/
.filter-button:hover {
    background-color: var(
        --filter-bg-color
    ); /* Change le fond du bouton lors du survol */
}

/********************************************************************************************************/
/*-----------------------------Conteneur Principale-----------------------------------------------------*/
/******************************************************************************************************/

/****** Hébergements et Populaires ***********/

/* Conteneur pour la section Hébergements et Populaires, alignée avec Flexbox */
.hebergements-and-populaires {
    display: flex; /* Utilise Flexbox pour aligner les sections côte à côte */
    gap: 2vw;
    flex-direction: row;
}

/* Style des sections Hébergements et Populaires */
.hebergements-and-populaires section {
    background-color: var(
        --main-bg-color
    ); /* Fond gris clair pour les sections */
    border-radius: 1.25rem; /* Bords arrondis */
    padding: 1rem; /* Espace intérieur */
    box-sizing: border-box; /* Inclut le padding dans la largeur de l'élément */
    font-feature-settings: 'tnum'; /* Force les chiffres tabulaires */
}

/*********************************************************************************************************/
/*--------------------------------Section Hébergement à Marseille (gauche)---------------------------------*/
/*********************************************************************************************************/

/****** Hébergements ***********/

/* Section des hébergements, occupant 65% de la largeur */
.hebergements {
    display: flex;
    flex-direction: column;
    width: 65vw; /* La section hébergements occupe 65% de la largeur de son parent */
}

/* Style pour les rangées d'éléments */
.rangee {
    display: flex; /* Flexbox pour aligner les éléments en ligne */
    width: auto;
    height: 15vw;
    justify-content: space-between;
    gap:1vw;
    align-items: center;
}
.rangee .card {
    display: flex;
    flex-direction: column; /* Assure que le contenu interne est bien organisé verticalement */
    height: 12vw;
    width: 16vw;
}
.rangee .card-subtitle {
    margin-top: 0;
    margin-bottom: 1vw;
}

.rangee .card img {
    height: 60%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}
.rangee .hebergement-content {
    padding: 0.1vw 0.5vw;
}
.affichez_plus a {
    font-size: 1.5vw;
}
/*********************************************************************************************************/
/*------------------------------------ Section Populaire (droite) -----------------------------------*/
/*********************************************************************************************************/
/****** Populaires ***********/

/* Section Populaires occupant 32% de la largeur */
.populaires {
    width: 32vw; /* La section Populaires occupe 32% de la largeur de son parent */
    display: flex;
    flex-direction: column;
}

/* Titre de la section Populaires avec icône */
.populaires-title {
    display: flex; /* Aligne l'icône et le texte horizontalement */
    justify-content: space-between; /* Espace le texte et l'icône */
}

/* Style des cartes dans la section Populaires */
.populaires-cards .card {
    display: flex; /* Aligne l'image et le texte en ligne */
    flex-direction: row; /* Aligne les éléments horizontalement */
    background-color: #fff; /* Fond blanc pour les cartes */
    border-radius: 1rem; /* Bords arrondis */
    box-shadow: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.1); /* Ombre sous la carte */
    overflow: hidden; /* Empêche le contenu de dépasser les bords arrondis */
    height: 9vw;
    margin-top: 1vw;
}

/* Style des images dans les cartes Populaires */
.populaires-cards img {
    width: 10vw; /* L'image occupe 33% de la largeur de la carte */
    object-fit: cover; /* L'image remplit son conteneur sans être déformée */
    border-top-left-radius: 1rem; /* Arrondit le coin supérieur gauche */
    border-bottom-left-radius: 1rem; /* Arrondit le coin inférieur gauche */
}

/* Contenu textuel des cartes Populaires */
.populaires-cards .card-content {
    width: 18vw; /* Le texte occupe 67% de la carte */
    padding-left: 1vw; /* Espace entre l'image et le texte */
    display: flex;
    flex-direction: column; /* Le texte est aligné verticalement */
    justify-content: space-between;
    margin-top: 0;
}

/* Pas de marges pour le sous-titre des cartes */
.populaires-cards .card-subtitle {
    margin-top: 0; /* Supprime les marges */
    padding-top: 0;
}
.populaires-cards .card-title {
    margin: 0; /* Supprime les marges */
}

/********************************************************************************************************/
/* ---------------------- Section Activités à marseille -----------------------------------------------*/
/*******************************************************************************************************/

/*********************Activités***********/

/* Conteneur pour la section Activités à Marseille */
.activites-a-marseille {
    width: 90vw;
    display: flex; /* Utilise Flexbox pour aligner les cartes */
    gap: 3.2vw;
}

/* Style des cartes d'activités */
.activites-a-marseille .card2 {
    height: 29vw; /* Les cartes occupent toute la hauteur disponible */
    width: 20vw;
    margin-bottom: 1vh;
}

/* Style des images dans les cartes d'activités */
.activites-card img {
    height: 20vh; /* L'image occupe 85% de la hauteur de la carte */
    width: 20dvw; /* L'image prend toute la largeur de la carte */
    border-top-left-radius: 1rem; /* Arrondit le coin supérieur gauche */
    border-top-right-radius: 1rem; /* Arrondit le coin supérieur droit */
}

/* Style des titres dans les cartes d'activités */
.activites-a-marseille h3 {
    display: flex;
    padding-left: 1vw; /* Espacement à gauche pour le titre */
    margin-bottom: 2vw;
    font-size: 1.2vw;
}

/*********************************************************************************************************/
/*------------------------------Footer-------------------------------------------------------------------*/
/*********************************************************************************************************/

/* Conteneur principal du footer */
.footer {
    display: flex; /* Utilise Flexbox pour aligner les éléments */
    width: 90vw;
    gap: 10vw; /* Espace entre les éléments du footer */
    background-color: #f2f2f2; /* Couleur de fond du footer */
    margin-top: 3vw;
}

/*********************************************************************************************************/
/*----------------------- Media queries ----------------------------------------------------------------*/
/*********************************************************************************************************/

/*------------------------Écrans large et multi-écrans -----------------------------------------------*/

/* Media query pour les très grands écrans (au-dessus de 1440px) */
@media (min-width:90rem) {
     body {    
        margin: 0 auto; /* Centrer le contenu en laissant les marges se créer automatiquement */
        align-items: center;
        padding: 0 50vw; 
        font-size: 2vw;
        width:1440px;
    }
     
    
}
/*------------------------Tablettes (entre 48rem et 64rem) --------------------------------------------*/
@media (min-width: 48rem) and (max-width: 64rem) {
    body {
        display: flex;
        padding-top: 0;
        font-size: clamp(1rem,2vw,1.2rem);
        height:auto;
        width: auto;
        margin-top:0.5vh;

        
    }
    .header  {
        display: flex;
        align-items: center;
        margin: 0;
        padding:0;
    }
    .nav-element {
        display: flex;
        align-items: center;
        margin:0;
        padding:1.1vw 0;
        }
    .nav-element:hover {
        margin:0;

    }
        
    
    .filter-button {
        height: 3vw;
    }
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column; /* Les sections Hébergements et Populaires sont empilées sur les tablettes */
        width: 100%;
    }

    .populaires {
        width: 100%; /* Ajuste la largeur des cartes populaires */
    }
    .populaires i {
        font-size: 1.5vw;
    }
    .activites-a-marseille .card2 {
        height: 18vw; /* Ajuste la hauteur des cartes d'activités */
        margin-bottom: 5vw;
    }

    .activites-a-marseille {
        gap: 3vw; /* Ajoute un espacement entre les cartes d'activités */
    }

    .activites-a-marseille .card2 img {
        height: 20vw; /* Ajuste la hauteur des images d'activités */
    }

    .hebergements {
        width: 100%; /* Ajuste la largeur des cartes d'hébergements */
    }

    .hebergements .card {
        width: 24vw;
        height: 18vw;
        display: flex;
        justify-content: space-between; /* Ajuste la taille des cartes d'hébergements */
    }
    .hebergement .card-rating {
        margin-top: 5vw;
    }

    .rangee {
        height: 21vw;
        display: flex;
        justify-content: space-between;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 3vw; /* Ajuste l'espacement entre les cartes populaires */
        margin: 0;
        padding-top: 0;
        
    }

    .populaires-cards img {
        width: 12vw; /* Ajuste la largeur des images des cartes populaires */
    }

    .populaires-cards .card {
        height: 10vw;
        margin-top: 1vw; /* Ajuste l'espacement vertical pour les cartes populaires */
        width: 25vw;
    }

    .footer {
        width: 90vw; /* Ajuste la largeur du footer */
    }
}

/*------------------------------------------------------------------------------------------*/
/*------------------------Mobile moins de 48rem --------------------------------------------*/
/*------------------------------------------------------------------------------------------*/

@media  (max-width: 47.99rem)and (orientation:portrait) {
  /* Style pour tout le corps de la page */
    body {
        display: block; /* Change de flex à block pour un alignement vertical en mobile */
        padding: 0 auto;
        margin: 0 auto;
        font-size: 2vh;
        height: auto;

    }
    /*------------------------- Conteneur principal--------------------------------------- */
    .main-container {
        max-width: 100%; /* Utilisation de toute la largeur de l'écran */
        padding:  0.5vw; /* Réduction du padding pour mobile */
    
    }
    /*--------------------------------- Header -------------------------------------------*/
    .header {
        flex-direction: column;
        height:auto;
        gap:0.5vh;
    }

    .logo img {
        height: 3vh; /* Ajustement de la taille du logo */
        margin: 2vh;
    }
    /*------------------ Barre de navigation ( hebergement/activités)-------------------*/
    /*-- conteneur parent --*/
    .nav {
        display: flex; /* Réduction de l'espacement entre les éléments de navigation */
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin:1vh 5vh;
        gap:20vw
        
    }

    .nav-element {
        display: flex; /* Réduction du padding pour mobile */
        font-size: 4vw;
        justify-content: center;
        justify-content: space-between;
        padding:0 4vh;
        
    }
    .nav-element:hover {
    color: var(--main-color); /* Change la couleur de texte au survol */
    border-bottom: 0.204rem solid var(--main-color);  
    border-top: none;
    padding-bottom: 1vh ;
    display: flex;
    justify-content: center;
    
    }
    /*---------------------------- Recherche------------------------------------------------ */
    .research {
        padding: 0 auto; /* Réduction du padding pour mobile */
        margin: 0 auto;
        width: 100%;
    }
    .research-txt p,h2 {
        margin: 0.5vh  ;
    }

    .Search-bar {
        width: 100%; /* Barre de recherche occupe toute la largeur */
        height: 4vh;
        margin: 3vh auto;

    }
    .local  {
        height:4vh;
        margin:0 auto;
        padding:0 auto;
        width: 3vh;
        
    }
    .local i {
        font-size: 2vh;
    }
    .search-input {
    display: flex;
    height: 4vh;
    width: 100%;
    border: none;
    text-align: center;
    
    }
    .search-input::placeholder {
    font-weight: 900;
    display: flex;
    font-size: 1.7vh;
    border:none;
    height: 4vh;
    
    }
    
    .search-button .search-icon{
        display: inline;
        color: #f2f2f2;
        padding:0 auto ;
        margin: 0 auto;
    
    }
    .search-button .search-txt {
        display: none; /* Cache le texte sur mobile */
    }
    .search-button {
        padding: 0 auto; /* Ajustement du padding */
        height:4vh;
        margin:0 auto;
        border-radius: 1vh;
        width:5vh;
    }

    /*--------Section hébergements ----------------------------------*/    
    .hebergements {
        width: 100%;
    }
    .rangee {
        display: block;
        height: auto;
    }
    
    .rangee .card {
    width: 100%; /* Les cartes prennent toute la largeur de la rangée */
    height: 22vh;
    gap: 1.2vh;
    margin:1.5vh 0;
    }
    .hebergement-content .card-title {
    font-size: 2vh; /* Taille du titre (un peu plus grand que le texte normal) */

    }
    .hebergements-and-populaires h2 {
        font-size: 2.2vh;
    }

    .hebergement-content .card-subtitle {
    font-size: 1.4vh; /* Taille légèrement plus petite pour le sous-titre */
    font-weight: 500; /* Semi-gras pour le sous-titre */
    }
    .hebergement-content .card-rating {
        font-size: 1.4vh;
    }
    .hebergements-and-populaires {
        display: flex;
        flex-direction:column-reverse;
    }
    /*----------------------- Section Populaires --------------------*/
    .populaires {
    width: 100%; /* Section populaire prend toute la largeur */
    }
    .affichez_plus a{
        font-size: 2vh;

    }
    .populaires-cards .card {
        height: 16vh;
        margin:2vh 0;
        
    }
    .populaires-cards .card-content {
        width: 18vh; /* Le texte occupe 67% de la carte */
        padding-left: 1vh; /* Espace entre l'image et le texte */
        display: flex;
        flex-direction: column; /* Le texte est aligné verticalement */
        justify-content: space-between;
        margin-top: 0;
    }   

    .populaires-cards .card-title {
        font-size: 1.6vh;
        
    }
    .populaires-cards .card-subtitle {
        font-size: 1.4vh; /* Taille légèrement plus petite pour le sous-titre */
        font-weight: 500; /* Semi-gras pour le sous-titre */
    }
    .populaires-cards .card-rating {
        font-size: 1.4vh;
    }
    .populaires-cards img {
        width:35vw
    }

  /*-------------- Activités -------------------------------------*/
    .activites-a-marseille {
        flex-direction: column;
        gap: 4vw; /* Espacement réduit pour mobile */
        width: 100%;
        padding: 0 2vw;
    }
    .activites-a-marseille .card2 h3 {
        font-size: 2vh;
    }
    .activites-a-marseille .card2 {
        width: 100%; /* Les cartes d'activités prennent toute la largeur */
        height: 30vh;
    }
    .activites-a-marseille .card2 img {
            width: 100%; /* Ajuste la hauteur des images d'activités */
            height:72%;
        }
    /*----------------------------- Footer --------------------------------------------------------------- */
    .footer {
        flex-direction: column;
        gap: 2vh; /* Espacement réduit pour mobile */
        width: 100%;
  }
}
/*--------------------------------------------------------------------------------------------------------*/
@media  (max-width: 47.99rem) and (orientation:landscape) {
    .nav-element:hover {
    color: var(--main-color); /* Change la couleur de texte au survol */
    border-bottom: 0.204rem solid var(--main-color);  
    border-top: none;
    padding-bottom: 1vh ;
    display: flex;
    justify-content: center;
    
    }
}
